<html lang="en">
<head>
  <meta charset="utf-8">

  <title>COVID-19 Indicators</title>
  <meta name="description" content="Hackathon">
  <meta name="author" content="StatCan">

  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="{{url_for('static', filename='dist/jqvmap.css')}}" media="screen" rel="stylesheet" type="text/css">

</head>

<body>

    
    <div class="container-fluid">

      <div class="row" style="height: 100vh; background: #555;">
        <div class="center col-sm-6 mapcontainer" >
          <h1 class='hTopMargin NunitoFont'> Covid-19 Map </h1>

          <div id='mapcontainer' class="centermap">
            <div id="vmap" style="width: 600px; height: 400px;"></div>
            
          </div>
          <button id="mapReset" class='resetBtn'> Reset</button>
        </div>
        <div class="center col-sm-6" style='background: #555;'>
          <h1 class='hTopMargin NunitoFont'> Covid-19 Indicator(s) </h1>
          <div class="centerChart" >
            <div id="chartContainer" style="height: 400px; width: 650px;"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    
    <!-- 
    <script src="/static/dist/jquery.vmap.js"></script>
    <script src="/static/dist/maps/jquery.vmap.canada.js"></script>
    <script src="/static/js/global.js"></script>
    -->

    <script src="{{url_for('static', filename='dist/jquery.vmap.js')}}"></script>
    <script src="{{url_for('static', filename='dist/maps/jquery.vmap.canada.js')}}"></script>
    <script src="{{url_for('static', filename='js/global.js')}}"></script>
</body>
</html>
